@charset "utf-8";

body {
  font-style: normal;
  font-size: 16px;
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
  color: #7bc2ba;
}

a {
  text-decoration: none;
}

header,
nav,
main,
footer {
  margin: 2px;
  border: 2px, solid, #f00;
}

// header部分
header {
  border-top: 20px solid #7bc2ba;
}

.header-contents {
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__text {
    border-top: 1px solid #7bc2ba;
    border-bottom: 1px solid #7bc2ba;
    align-self: flex-end;
    margin: 15px 30px;
  }

  &__logo {
    text-align: center;

    &--mark {
      margin: 20px 0;
    }
  }
}

.text-right {
  text-align: right;
}

.header-image {
  position: relative;
  height: 600px;
  background: #7bc2ba url("../images/bg_header.jpg") no-repeat right center / cover;

  & img {
    position: absolute;
    top: -50px;
    right: 5vw;
  }
}

// nav部分
nav {
  background-color: #7bc2ba;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

nav ul li {
  width: 120px;
  height: 50px;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ffffff;
}

// main部分
